[submodule "dune/dune-common"]
	path = dune/dune-common
	url = http://git.dune-project.org/repositories/dune-common
	branch = releases/2.3
[submodule "dune/dune-geometry"]
	path = dune/dune-geometry
	url = http://git.dune-project.org/repositories/dune-geometry
	branch = releases/2.3
[submodule "dune/dune-grid"]
	path = dune/dune-grid
	url = http://git.dune-project.org/repositories/dune-grid
	branch = releases/2.3
[submodule "dune/dune-istl"]
	path = dune/dune-istl
	url = http://git.dune-project.org/repositories/dune-istl
	branch = releases/2.3
[submodule "dune/dune-localfunctions"]
	path = dune/dune-localfunctions
	url = http://git.dune-project.org/repositories/dune-localfunctions
	branch = releases/2.3
[submodule "dune/dune-typetree"]
	path = dune/dune-typetree
	url = http://git.dune-project.org/repositories/dune-typetree
	branch = releases/2.3
[submodule "dune/dune-pdelab"]
	path = dune/dune-pdelab
	url = http://git.dune-project.org/repositories/dune-pdelab
	branch = releases/2.0
[submodule "exercises/cpp-exercise1"]
	path = exercises/cpp-exercise1
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/cpp-exercise1.git
	branch = master
[submodule "exercises/cpp-exercise1-sol"]
	path = exercises/cpp-exercise1-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/cpp-exercise1-sol.git
	branch = master
[submodule "exercises/cpp-exercise2"]
	path = exercises/cpp-exercise2
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/cpp-exercise2.git
	branch = master
[submodule "exercises/cpp-exercise2-sol"]
	path = exercises/cpp-exercise2-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/cpp-exercise2-sol.git
	branch = master
[submodule "exercises/grid-exercise"]
	path = exercises/grid-exercise
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/grid-exercise.git
	branch = master
[submodule "exercises/grid-exercise-sol"]
	path = exercises/grid-exercise-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/grid-exercise-sol.git
	branch = master
[submodule "exercises/pdelab-exercise1"]
	path = exercises/pdelab-exercise1
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise1.git
	branch = master
[submodule "exercises/pdelab-exercise1-sol"]
	path = exercises/pdelab-exercise1-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise1-sol.git
	branch = master
[submodule "exercises/pdelab-exercise2"]
	path = exercises/pdelab-exercise2
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise2.git
	branch = master
[submodule "exercises/pdelab-exercise2-sol"]
	path = exercises/pdelab-exercise2-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise2-sol.git
	branch = master
[submodule "exercises/pdelab-exercise3"]
	path = exercises/pdelab-exercise3
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise3.git
	branch = master
[submodule "exercises/pdelab-exercise3-sol"]
	path = exercises/pdelab-exercise3-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise3-sol.git
	branch = master
[submodule "exercises/pdelab-exercise4"]
	path = exercises/pdelab-exercise4
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise4.git
	branch = master
[submodule "exercises/pdelab-exercise4-sol"]
	path = exercises/pdelab-exercise4-sol
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise4-sol.git
	branch = master
[submodule "exercises/pdelab-exercise5"]
	path = exercises/pdelab-exercise5
	url = http://conan2.iwr.uni-heidelberg.de/git/dune-course/pdelab-exercise5.git
	branch = master
